# Google Data API for extracting comments
google-api-python-client

# Load environment variables
dotenv

# tqdm for a loading bar
tqdm

# for data loading (dataframes) and manipulation
pandas

# natural language toolkit for text preprocessing: tokenisation, stopword removal and for reducing words to base forms
nltk